<div class="row">
  <div class="col-12">
    <ng-container *ngIf="trip;else noResults">

      <div class="card shadow mt-1 mb-1 bg-white rounded" id="toExportPDF">
        <ul class="list-group list-group-flush">

          <li class="list-group-item text-center">
            <h5 class="m-0 p-0">
              VIAJE - RUTA (
              <app-route-by-id [routeId]="trip.routeId"></app-route-by-id>
              )
            </h5>
          </li>

          <li class="list-group-item d-flex justify-content-between">
            <p class="m-0">Checklist:&nbsp;</p>
            <p class="text-muted m-0">
              <app-checklist-by-id [checklistId]="trip.checklistId"></app-checklist-by-id>
            </p>
          </li>

          <li class="list-group-item d-flex justify-content-between">
            <p class="m-0">Vehículo asignado:</p>
            <p class="text-muted m-0">
              <app-vehicle-by-id [vehicleId]="trip.vehicleId"></app-vehicle-by-id>
            </p>
          </li>

          <li class="list-group-item d-flex justify-content-between">
            <p class="m-0">Horas en ruta:</p>
            <p class="text-muted m-0">{{trip.timeOnRoute}} Hrs.</p>
          </li>

          <li class="list-group-item d-flex justify-content-between">
            <p class="m-0">Kilometraje inicial:</p>
            <p class="text-muted m-0">{{trip.initialMileage}} Kms.</p>
          </li>

          <li class="list-group-item d-flex justify-content-between">
            <p class="m-0">Kilometraje final:</p>
            <p class="text-muted m-0">{{trip.finalMileage}} Kms.</p>
          </li>

          <li class="list-group-item d-flex justify-content-between">
            <p class="m-0">Fecha inicial:</p>
            <p class="text-muted m-0">
              <ng-container *ngIf="trip.startDate">
                {{trip.startDate.toDate() | date:'MMM d, y'}}
              </ng-container>
            </p>
          </li>

          <li class="list-group-item d-flex justify-content-between">
            <p class="m-0">Fecha final:</p>
            <p class="text-muted m-0">
              <ng-container *ngIf="trip.endDate">
                {{trip.endDate.toDate() | date:'MMM d, y'}}
              </ng-container>
            </p>
          </li>

          <li class="list-group-item d-flex justify-content-between">
            <p class="m-0">Observaciones:&nbsp;</p>
            <p class="text-muted m-0">{{trip.observations}}</p>
          </li>
        </ul>
      </div>
    </ng-container>

    <ng-template #noResults>
      <div class="alert alert-warning" role="alert">
        No tienes un vehículo asignado.
      </div>
    </ng-template>
  </div>
</div>

<app-toolbar
  (btnBackOut)="getBack($event)"
  [btnBackIn]="true"
  [btnHome]="true"
></app-toolbar>
