<div class="modal-header">
  <h6 class="modal-title">ENVIAR SOLICITUD</h6>
</div>
<div class="modal-body text-center">
  <p>¿Deseas enviar una solicitud de registro?</p>
  <br>

  <div class="buttons d-flex justify-content-between">
    <button
      type="button"
      class="btn btn-danger"
      (click)="activeModal.dismiss('Cross click')">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
           class="bi bi-x-circle-fill mr-2" viewBox="0 0 16 16">
        <path
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
      </svg>
      Cancelar
    </button>

    <button
      type="button"
      class="btn btn-primary"
      (click)="saveRequest(userId, userName, userEmail, userPhotoUrl)"
    >
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill"
           viewBox="0 0 16 16">
        <path fill-rule="evenodd"
              d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89.471-1.178-1.178.471L5.93 9.363l.338.215a.5.5 0 0 1 .154.154l.215.338 7.494-7.494Z"/>
      </svg>
      Enviar
    </button>
  </div>


</div>
