<div class="row">
  <div class="col-12">
    <h5 class="text-center font-weight-bold mt-3">NUEVO VIAJE</h5>

    <form (ngSubmit)="getSave(userId, userEmail, employeeId)" [formGroup]="newForm">

      <div class="form-group">
        <label class="text-muted" for="cbChecklist">Checklist vigente:</label>
        <select class="form-control" formControlName="checklistId" id="cbChecklist">
          <option selected value="">Seleccionar Checklist</option>
          <option *ngFor="let checklist of listChecklist" value="{{checklist.id}}">{{checklist.description}}</option>
        </select>
      </div>

      <div class="form-group">
        <label class="text-muted" for="cbRoute">Rutas disponibles:</label>
        <select class="form-control" formControlName="routeId" id="cbRoute">
          <option selected value="">Seleccionar Ruta</option>
          <option *ngFor="let route of listRoutes" value="{{route.id}}">{{route.description}}</option>
        </select>
      </div>

      <div class="form-group row">
        <div class="col-6">
          <label class="text-muted" for="cbVehicle">Vehículo asignado:</label>
          <select class="form-control" formControlName="vehicleId" id="cbVehicle">
            <option selected value="">Seleccionar</option>
            <option *ngFor="let vehicle of listVehicles" value="{{vehicle.id}}">{{vehicle.badge}}</option>
          </select>
        </div>
        <div class="col-6">
          <label class="text-muted" for="txtTimeOnRoute">Horas en ruta:</label>
          <input class="form-control" formControlName="timeOnRoute" id="txtTimeOnRoute" type="number">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-6">
          <label class="text-muted" for="txtInitialMileage">Kilometraje inicial:</label>
          <input class="form-control" formControlName="initialMileage" id="txtInitialMileage" type="number">
        </div>
        <div class="col-6">
          <label class="text-muted" for="txtFinalMileage">Kilometraje final:</label>
          <input class="form-control" formControlName="finalMileage" id="txtFinalMileage" type="number">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-6">
          <label class="text-muted" for="initialDate">Fecha inicial:</label>
          <div class="input-group">
            <input #initialDate="ngbDatepicker" (dateSelect)="getInitialDate($event)"
                   class="form-control" id="initialDate" name="initialDate" ngbDatepicker
                   placeholder="yyyy-mm-dd">
            <div class="input-group-append">
              <button (click)="initialDate.toggle()" class="btn btn-outline-secondary calendar" type="button"></button>
            </div>
          </div>
        </div>
        <div class="col-6">
          <label class="text-muted" for="finalDate">Fecha final:</label>
          <div class="input-group">
            <input #finalDate="ngbDatepicker" (dateSelect)="getFinalDate($event)"
                   class="form-control" id="finalDate" name="finalDate" ngbDatepicker
                   placeholder="yyyy-mm-dd">
            <div class="input-group-append">
              <button (click)="finalDate.toggle()" class="btn btn-outline-secondary calendar" type="button"></button>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="text-muted" for="txtObservation">Observaciones:</label>
        <textarea class="form-control" formControlName="observations" id="txtObservation" rows="2"></textarea>
      </div>

    </form>
  </div>
</div>

<app-toolbar
  (btnCancelOut)="getCancel($event,userId, userEmail)"
  (btnSaveOut)="getBtnSave($event, userId, userEmail, employeeId)"
  [btnCancelIn]="true"
  [btnHome]="true"
  [btnSaveIn]="true"
></app-toolbar>
