.container-fluid {
  border: 1px solid red;
}

.logo {
  border: 1px solid red;
}

ul {
  border-radius: 0;
}

p {
  font-size: 6px;
  margin: 0;
}

.title {
  color: #fff;
  font-size: 8px;
}

.category {
  color: #fff;
  font-size: 6px;
}

.label {
  color: red;
}

.response {
  color: #000;
}
