<div class="row">
  <div class="col-12">
    <br>
    <h4 class="text-center">JARENAS - APP</h4>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card shadow p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <h5 class="text-center">Iniciar sesión</h5>
        <br>
        <button (click)="loginGoogle()" class="btn btn-google">
          <img alt="button google" class="img-google" src="../../../../../assets/images/buttons/google.svg">
          Continuar con Google
        </button>
      </div>
    </div>
  </div>
</div>
