<div class="row">
  <div class="col-12">

    <!-- LIST TRIPS -->
    <ng-container *ngIf="listTrips.length > 0; else noTrips">
      <ul class="list-group list-group-flush m-0 p-0">

        <li *ngFor="let trip of listTrips" class="list-group-item border-0">
          <div class="card shadow bg-white rounded">
            <ul class="list-group list-group-flush">

              <li class="list-group-item d-flex justify-content-between">
                <p class="m-0">Ruta:</p>
                <p class="text-muted m-0">
                  <app-route-by-id [routeId]="trip.routeId"></app-route-by-id>
                </p>
              </li>

              <li class="list-group-item d-flex justify-content-between">
                <p class="m-0">Fecha Inicio / Fin:</p>
                <p class="text-muted m-0">
                  {{trip.startDate.toDate() | date:'MMM d' }} / {{trip.endDate.toDate() | date:'MMM d, y' }}
                </p>
              </li>

              <li class="list-group-item">
                <ng-container *ngIf="trip.status === true; else statusFalse">
                  <button (click)="getEdit(trip.id, user,employee)" class="btn btn-info btn-sm" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path
                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                      <path fill-rule="evenodd"
                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                    Editar
                  </button>
                </ng-container>

                <ng-template #statusFalse>
                  <button type="button" class="btn btn-secondary btn-sm" (click)="getView(trip.id, user,employee)">
                    <svg class="bi bi-eye-fill" fill="currentColor" height="16" viewBox="0 0 16 16"
                         width="16"
                         xmlns="http://www.w3.org/2000/svg">
                      <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                      <path
                        d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                    </svg>
                    Ver
                  </button>
                </ng-template>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <br>
      <br>
      <br>
    </ng-container>

    <!-- NO TRIPS -->
    <ng-template #noTrips>
      <div class="alert alert-warning" role="alert">
        No has realizado viajes aun.
      </div>
    </ng-template>

  </div>
</div>

<app-toolbar
  (btnBackOut)="getBack($event)"
  (btnNewOut)="getNew($event, user, employee)"
  [btnBackIn]="true"
  [btnNewIn]="true"
  [btnHome]="true"
></app-toolbar>
