<div class="row">
  <div class="col-12">

    <!-- CHECKLIST -->
    <ng-container *ngIf="listChecklist.length > 0; else noChecklist">
      <ul class="list-group list-group-flush m-0 p-0">
        <li *ngFor="let checklist of listChecklist" class="list-group-item border-0">

          <app-item-checklist-current
            [checklist]="checklist"
            [employeeId]="employee.id"
            [user]="user">
          </app-item-checklist-current>

        </li>
      </ul>
    </ng-container>

    <!-- NO CHECKLIST -->
    <ng-template #noChecklist>
      <div class="alert alert-warning" role="alert">
        No hay checklist publicados.
      </div>
    </ng-template>

  </div>
</div>

<app-toolbar
  (btnBackOut)="getBack($event)"
  [btnBackIn]="true"
  [btnHome]="true"
></app-toolbar>
