.fixed-bottom {
  background-color: lightgray;
}

input[type="file"] {
  display: none;
}

.btn-upload {
  display: inline-block;
}

.image-preview {
  width: 50px;
}

.btn-delete {
  height: 32px;
}
